<ifModule mod_rewrite.c>
#Actvar Rewite
RewriteEngine on
ErrorDocument 404 http://localhost/MasterPHP/14-ProyectoPOOMVC/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>